#####################################################################
#   Cartographer V4 CAN
#####################################################################

[mcu cartographer]
canbus_uuid: ff5608081fb1

[cartographer]
mcu: cartographer

# Probe offsets are from nozzle tip to CENTER of Cartographer coil.
x_offset: 0
y_offset: 27.2

verbose: no

[temperature_sensor cartographer_mcu]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

#####################################################################
#   Cartographer ADXL345
#####################################################################

[adxl345]
cs_pin: cartographer:PA0
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    151.5, 156, 20