[include fluidd.cfg]
[include gcode.cfg]
[include toolhead.cfg]
[include eddy.cfg]
[include bed.cfg]
[include KAMP_Settings.cfg]
[exclude_object]

[force_move]
enable_force_move: true

[mcu]
canbus_uuid: 772583ad2d2d

[temperature_sensor cb1]
sensor_type: temperature_host
min_temp: 0
max_temp: 85

[temperature_sensor manta_ez_e3]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 85

[temperature_fan electronics_fan_1]
pin: PB14
sensor_type: temperature_host
control: watermark
target_temp: 55
min_temp: 0
max_temp: 85
max_speed: 0.4
min_speed: 0.0
kick_start_time: 0.5
off_below: 0.10

[temperature_fan electronics_fan_2]
pin: PB15
sensor_type: temperature_host
control: watermark
target_temp: 55
min_temp: 0
max_temp: 85
max_speed: 0.4
min_speed: 0.0
kick_start_time: 0.5
off_below: 0.10

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 350
max_z_velocity: 4
max_z_accel: 50

[safe_z_home]
home_xy_position: 150,150
speed: 100
z_hop: 5
z_hop_speed: 3

# ============================================================
# Voron Trident 300 - Manta E3EZ v1.0 motion baseline
# A/B motors are on E0/E1.
# Z motors are on X/Y/Z.
# ============================================================

# B motor on Manta E1
[stepper_x]
step_pin: PB7
dir_pin: !PB6
enable_pin: !PB4
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300

homing_speed: 60
homing_retract_dist: 0
homing_positive_dir: true

# A motor on Manta E0
[stepper_y]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PB3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300

homing_speed: 60
homing_retract_dist: 0
homing_positive_dir: true

# Z0 on Manta X
[stepper_z]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 16
rotation_distance: 2
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
homing_positive_dir: false
position_min: -5
position_max: 340
homing_speed: 3

# Z1 on Manta Y
[stepper_z1]
step_pin: PC8
dir_pin: PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 2
full_steps_per_rotation: 200

# Z2 on Manta Z
[stepper_z2]
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
microsteps: 16
rotation_distance: 2
full_steps_per_rotation: 200

# ============================================================
# EZ2209 drivers
# ============================================================

# E1 driver - B motor / stepper_x
[tmc2209 stepper_x]
uart_pin: PB5
diag_pin: ^PB1
run_current: 0.90
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 100

# E0 driver - A motor / stepper_y
[tmc2209 stepper_y]
uart_pin: PD1
diag_pin: ^PC5
run_current: 0.90
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 100

# X driver - Z0
[tmc2209 stepper_z]
uart_pin: PB8
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 999999

# Y driver - Z1
[tmc2209 stepper_z1]
uart_pin: PC9
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 999999

# Z driver - Z2
[tmc2209 stepper_z2]
uart_pin: PD0
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 999999


# ============================================================
# TMC Autotune
# ============================================================

[autotune_tmc stepper_x]
motor: omc-17hs19-2004s1
tuning_goal: performance
voltage: 24

[autotune_tmc stepper_y]
motor: omc-17hs19-2004s1
tuning_goal: performance
voltage: 24

[autotune_tmc stepper_z]
motor: omc-17hs19-2004s1
tuning_goal: silent
voltage: 24

[autotune_tmc stepper_z1]
motor: omc-17hs19-2004s1
tuning_goal: silent
voltage: 24

[autotune_tmc stepper_z2]
motor: omc-17hs19-2004s1
tuning_goal: silent
voltage: 24

[z_tilt]
z_positions:
    -50, 18
    150, 348
    350, 18
points:
    30, 30
    150, 260
    270, 30

speed: 80
horizontal_move_z: 3
retries: 10
retry_tolerance: 0.01

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUJNDoVGfMfY/wiMGgpRh/j/B4GnsVAPqPz0Py55O89w/FL5H5+v2oz+q+qBXTyy9v1yEbBW1g9c/n8K4XV8+2j9KcDS5foK9v0F4wW1r78O/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ41d5j44LlT7SkA1mO0SVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQ4/e0M9yEG0DEmVoOsTsLQENF2XaaZf8/oBcksAhEBEBh2HI4CC/nv814ITVrQRjAiiKqEa/4CkDB3XW/6iolQByo6vk6svi/HPFULZ1HFMCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDENjlxQheQpU+MMM9K9FQlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DDoJs8DTWVPp5SiWq5eBc+QIc9zY0kB76MsXUEbNXxPcZx7MVUduC9S9Xg03HhtD2KbJDa8ke8PUi/vCkeZcg9W9calyT1dD0KG5eDUgvGvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQACh846rsGD+cY6xEQPITQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/GOyq43woAEdALf/4R5drXmWMB2ZfcmFuZ2WUXZQoR0FIBRXC78AAR0FIVCKU2iAAZYwCZGOUSw91Lg==
