# ============================================================
# EBB36 Toolhead - Voron Trident
# ============================================================

[mcu EBBCan]
canbus_uuid: 07d918b8563e

[temperature_sensor ebb_mcu]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

# ------------------------------------------------------------
# Extruder - ProtoExtruder 2.0 placeholder
# ------------------------------------------------------------

[extruder]
step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1
enable_pin: !EBBCan:PD2
microsteps: 16

# Placeholder until calibrated
rotation_distance: 53.494165
gear_ratio: 44:10, 37:17

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: EBBCan:PB13

# Rapido UHF 2.0 PT1000 on EBB36 4-pin MAX31865 input
sensor_type: MAX31865
sensor_pin: EBBCan:PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 4

min_temp: 0
max_temp: 350
min_extrude_temp: 180
max_power: 1.0
max_extrude_cross_section: 5

control: pid
pid_Kp: 35.851
pid_Ki: 9.959
pid_Kd: 32.265

pressure_advance: 0.035
pressure_advance_smooth_time: 0.040
retraction_distance: 0.5
retraction_speed: 35


[tmc2209 extruder]
uart_pin: EBBCan:PA15
run_current: 0.650
sense_resistor: 0.110
stealthchop_threshold: 999999

[autotune_tmc extruder]
motor: ldo-42sth48-2504ah
tuning_goal: silent
voltage: 24

# ------------------------------------------------------------
# Input Shaper / Resonance Testing - EBB36 onboard ADXL345
# ------------------------------------------------------------

# [adxl345]
# cs_pin: EBBCan:PB12
# spi_software_sclk_pin: EBBCan:PB10
# spi_software_mosi_pin: EBBCan:PB11
# spi_software_miso_pin: EBBCan:PB2

# EBB36 toolhead boards are often mounted rotated.
# This is a common working map for EBB36/SB-style mounting.
# If accelerometer direction checks look wrong, this may need adjusted.
# axes_map: z,-y,x


# [resonance_tester]
# accel_chip: adxl345

# For your Trident, set this near the center of the bed.
# If this is your 300mm Trident, use 150,154,20.
# If this is your 450mm Trident, use 225,225,20.
# probe_points: 150, 154, 20


# ------------------------------------------------------------
# Fans
# ------------------------------------------------------------

# Part cooling fan - controlled by M106/M107
[fan]
pin: EBBCan:PA1
kick_start_time: 0.5
off_below: 0.10

# Hotend heatsink fan - automatic
[heater_fan hotend_fan]
pin: EBBCan:PA0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
kick_start_time: 0.5


# ------------------------------------------------------------
# Filament runout sensor
# ------------------------------------------------------------

[filament_switch_sensor runout]
switch_pin: ^EBBCan:PB6
pause_on_runout: true
runout_gcode:
    RESPOND TYPE=error MSG="Filament runout detected"
    PAUSE
insert_gcode:
    RESPOND TYPE=echo MSG="Filament inserted"


# ------------------------------------------------------------
# Toolhead LEDs / NeoPixel
# ------------------------------------------------------------

[neopixel toolhead_leds]
pin: EBBCan:PD3
chain_count: 3
color_order: GRB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

[delayed_gcode SET_TOOLHEAD_LEDS_STARTUP]
initial_duration: 1
gcode:
    TOOLHEAD_LEDS_ON


#*# [extruder]
#*# control = pid
#*# pid_Kp: 35.851
#*# pid_Ki: 9.959
#*# pid_Kd: 32.265